@import helper._
@import views.html.helper.{form, inputText}
@import models.Product
@import controllers.CreateProductForm

@(product: Form[CreateProductForm], products: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)
@flash.get("success").getOrElse("")

@main("Add product") {
    <h1>Add product to database</h1>

    @form(action = routes.ProductsController.saveAddedProduct()) {
        @helper.CSRF.formField
        @inputText(product("id"))
        @inputText(product("name"))
        @inputText(product("reference"))
        @inputText(product("description"))
        @inputText(product("quantity"))
        @inputText(product("price"))
        @inputText(product("status"))
        @inputText(product("category"))
        @inputText(product("image"))

        <input type="submit" value="Submit">
    }
}